@model TaskApplication.Models.Student
@{
    ViewBag.Title = "Create";
}

<h2 align="center">CreateStudents</h2>
<form method="post" aciton="/Student/Create">
    <input type="text" class="form-control" name="Name" placeholder="name" />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <input type="date" class="form-control" name="Dob" placeholder="Date of birth" />
    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
    <input type="text" class="form-control" name="Credit" placeholder="Credit" />
    @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
    <input type="text" class="form-control" name="CGPA" placeholder="CGPA" />
    @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })
    <input type="text" class="form-control" name="Dept_id" placeholder="Department Id" />
    @Html.ValidationMessageFor(model => model.Dept_id, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Insert" name="submit" class="btn btn-success" />

</form>

